body {
    background-image: url(./wallpaper.jpg) ;
    background-position: top ;
    background-size: cover ;

}

h2{
    font-size: 30px;
    color: rgba(13, 184, 226, 0.774);
    text-align: center;
}

ul{
    list-style-type: none;
    margin: 70px;
    padding: 70px;
}

button{
    text-align: center;
    padding: 50px;
    margin-top: 100px;
    margin-right: 100px;
}

